<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" dir="ltr">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <title>{{blog.title}} | {{blog.tagline}}</title>

  <link rel="alternate" type="application/rss+xml" title="{{blog.title}} RSS"
        href="{{blog.root}}rss" />

  <link rel="shortcut icon" href="/media/img/favicon.png" type="image/x-icon" />
  <link type="text/css" rel="stylesheet" media="all" href="/media/css/style.css" />

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-16485782-2']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script');
      ga.type = 'text/javascript';
      ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>

<body>
<div id="head" class="clearfloat">

  <div class="clearfloat">
    <div id="logo">
      <a href="{{blog.root}}"
         title="{{blog.title}}"><span id="sitename">{{blog.title}}</span></a>

      <div id="tagline">{{blog.tagline}}</div>
    </div>

  </div>

  <div id="navbar" class="clearfloat">
    <div id="page-bar">
      <ul class="menu">
        {% for menu_item in blog.menu %}
        <li class="leaf first active-trail">
          <a href="{{blog.root}}{{menu_item.url}}" title="{{menu_item.title}}" class="active">{{menu_item.title}}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<div id="page" class="clearfloat">

<div id="content" class="main-content with-sidebar">
{% block content %}{% endblock %}
</div>

<div id="sidebar">
{% block sidebar %}{% endblock %}
</div>

</div>

<div id="footer-region" class="clearfloat">
  <div id="footer-left" class="clearfloat">
  </div>

  <div id="footer-middle" class="clearfloat">
  </div>

  <div id="footer-right" class="clearfloat">
  </div>
</div>

<div id="footer-message">
  The theme for this site is higly derived from <a href="http://drupal.org/project/arthemia">Drupal Arthemia</a>,
  which itself is based on the original design by <a href="http://michaelhutagalung.com/">Michael Hutagalung</a>.
</div>

</body>
{% block after_body %}{% endblock %}
</html>
