{% extends "layout.html" %}

{% block h1 %}User activity on the Nuxeo Community sites{% endblock %}

{% block main %}
<!-- ignore fo now
    <div class="intro">

      <p>Nuxeo is an <b>Open Source Platform</b> for <b>Enterprise Content
        Management</b> enabling architects and developers to build, deploy
        and run the best <b>content-driven applications</b> in an <b>easy way</b>.</p>

      <p>Nuxeo applications can be configured with no programming experience, and extended using
        <b>standard</b> Java EE technologies.
      </p>
    </div>
-->

    <div class="feedsBlock">
      <h2>Activity for {{ username }} </h2>

      <div class="events">
        {% for event in events %}
        <div class="event">
          <div class="type jira"><img src="/media/icons/{{ event.type }}.png"
                                      alt="{{ event.alt_type }}"/></div>
          <div class="description">
            <span>{{ event.header|safe }}</span>
            <span class="when">{{ g.age(event.created) }}</span>

            <p><a href="{{ event.url }}">{{ event.title }}</a></p>
          </div>
          <div class="clear"></div>
        </div>
        {% endfor %}
      </div>
    </div>
{% endblock %}
